
FRONTEND_SITE_URL= # Insert Domain of frontend or http://localhost:4200 for local
BACKEND_SITE_URL= # Insert domain for backend or http://localhost:3000 for local


#Set Root Password to User Password
POSTGRES_DB= #INSERT DB Name
POSTGRES_USER= #INSERT DB USERNAME
POSTGRES_PASSWORD= #INSER DB PASSWORD
POSTGRES_HOST=localhost #Insert Host (Done Auto. in Docker)


SECRET_SESSION_KEY= #Create and Insert Random Key

GOOGLE_OAUTH_ID= #Insert OAuth ID For Google Here
GOOGLE_OAUTH_SECRET= #Insert OAuth secret key here

GITHUB_CLIENT_ID= #Insert Oauth ID for Github here
GITHUB_SECRET_ID= #Insert OAuth Secrete Key for github here

