SECRET_SESSION_KEY=#INSERT A RANDOM SECRET KEY HERE

#Set Root Password to User Password
POSTGRES_DB=# INSERT DB Name
POSTGRES_USER=#INSERT DB USERNAME
POSTGRES_PASSWORD=# INSER DB PASSWORD
POSTGRES_HOST=localhost #Insert Host (Done Auto. in Docker)


